* {
	margin: 0;
	padding: 0;
}

#mainindex {
	background-color: #003366;
	height:100%;
	width:100%;
	display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 150px auto 100px;
  grid-template-areas:
  "top top top top"
  "left left left right"
  "foot foot foot foot";
}

body {
	background-color: #faf9f4;
	height:100%;
	width:100%;
	display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 50px 10fr 100px;
  grid-template-areas:
  "top"
  "nav"
  "content"
  "foot";
}

.top-header {
	grid-area: top;
	text-align:center;
	display:flex;
	padding:40px 10px;
	background-color: #003366;
	border-bottom: 4px solid #ffc40d;
}

.top-header h1 {
	margin:auto;
	font-family: 'Inter', sans-serif;
	font-size: 36px;
	color: #ffc40d;
}

h1 a {
	text-decoration:none;
	color:#ffc40d;
}

.anim {
	grid-area:left;
	background-color:#003366;
	border-right: 20px double #ffc40d;
}
.anim path {

  stroke-width: 2;
  stroke: #ffc40d;
}

.navigation {

	border-top: 20px double #ffc40d;
	border-bottom: 20px double #ffc40d;
	background-color:#003366;
	width:100%;
	display:flex;
	grid-area:right;
	place-self: center;
	font-family: 'Inter', sans-serif;	
	font-size: 24px;
}

.navigation ul {
  list-style-type: none;
  margin-left: 10%;
  padding: 0;
}

.navigation li {
  margin:auto;
}

.navigation ul li a:first-child{
	margin-top:40px;
}

.navigation ul li a{
	text-decoration: none;
	color: #ffc40d;
	display: block;
	padding: 10px;
	margin-bottom:40px;
}

.navigation #link1:before {
	content:"";
	display:block;
    background: url("images/C.svg") no-repeat;
	background-size: contain;
	width:50px;
	height: 50px;
	float: left;
	margin: -10 0 0 0;
}

.navigation #link2:before {
	content:"";
	display:block;
    background: url("images/N.svg") no-repeat;
	background-size: contain;
	width:50px;
	height: 50px;
	float: left;
	margin: -10 0 0 0;
}

.navigation #link3:before {
	content:"";
	display:block;
	background: url("images/2.svg") no-repeat;
	background-size: contain;
	width:50px;
	height: 50px;
	float:left;
	float: left;
	margin: -10 0 0 0;
}

.navigation #link4:before {
	content:"";
	display:block;
    background: url("images/B.svg") no-repeat;
	background-size: contain;
	width:50px;
	height: 50px;
	float: left;
	margin: -10 0 0 0;
}

footer {
	display:flex;
	text-align:center;
	background-color: #ffc40d;
	color:#003366;
	grid-area:foot;
	font-family: 'Inter', sans-serif;
	font-size: 0.7em;
}

#copyright {
	margin-top: 50px;
	font-size:1.2em;
}

#navigation {
	font-family: 'Inter', sans-serif;
	font-size: 1em;
	text-align: center;
	background-color: #003366;
	color: #ffc40d;
	grid-area:nav;
}

#navigation ul {
	list-style-type: none;
}

#navigation ul li {
	display: inline-block;
	text-align: center;
	padding: 10px 20px;
}

nav a:hover {
	color: #ffffff;
}

nav a {
	color: #ffc40d;
	text-decoration: none;
}

.active {
	color: #ffffff;
}

.content-container {
	grid-area: content;
	text-align: center;
	color: #003366;
	font-family: 'Inter', sans-serif;
	font-size: 1em;
}

.singlesection {
	margin: 100px auto auto;
	max-width: 600px;
}

.content-container h1 {
	color: #ffc40d;
	font-family: 'Inter', sans-serif;
	font-size: 1.2em;
}

.content-container h2 {
	color: #003366;
	font-family: 'Inter', sans-serif;
	font-size: 1.5em;
}

.content-container hr {
	height: 4px;
}

.triplesectionwrapper {
	max-width: 1000px;
	margin: 100px auto auto;
	display: grid;
	grid-column-gap: 1fr;
	grid-template-columns: 1fr 1fr 1fr;
  	grid-template-rows: auto;
  	grid-template-areas:
  	"trip-left trip-mid trip-right";
}

#myCarousel {
	max-width:1000px;
	margin:auto;
}

#CarouselContainer {
	padding: 10px 0px;
	display:block;
	width:100%;
	background-color: #f0f0f0;
}

#left.triplesection {
	grid-area: "trip-left";
}

#middle.triplesection {
	grid-area: "trip-mid";
}

#right.triplesection {
	grid-area: "trip-right";
}

.triplesection img {
	height: 100px;
	width: 100px;
	padding: 5px;
	border-radius: 35px;
	background-color: #ffc40d;
}

.content-container hr {
	margin: 5px 0px;
}

.content-container .last-para {
	margin-bottom: 100px;
}

.content-container p {
	margin: 10px 0px;
}



@media only screen and (max-width: 900px) {
  #mainindex {
    display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 1fr 5fr 1fr 100px;
	grid-template-areas:
	"top"
	"left"
	"right"
	"foot";
  }
  
  .navigation {
	border-bottom: none;
  }
  
  .anim {
	grid-area:left;
	background-color:#003366;
	border-bottom: none;
	border-right: none;
  }
}

